@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@600&family=Sora:wght@100;200;300;400;500;600;700;800&family=Space+Grotesk&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Sora', sans-serif;

    
}
/* body */
body {
  min-height: 100vh;                       
  background: #F5F5F5;

}

:root {
  --primary-bg-color: #252525;
  --secundary-bg-color: #fff70a; 
}



/* navbar */

.container-fluid {
  background-color: #F5F5F5;
  position: fixed;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 30px;
}
  

.navbar-brand{
  background-color: #252525;
  color: #F5F5F5;
  border-radius: 50px;
  padding: 10px;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  justify-items: center;
  display: flex;
  
}

.navbar-brand:hover{
  background-color: var(--secundary-bg-color);
  transition: 0.3s;
}
.nav-link-linkedIN{
  background-color: #252525;
  border-radius: 8px;
  display: flex;
  width: 97px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  color: #F5F5F5;
  transition: 0.3s;
}

.nav-link-linkedIN:hover {
  background-color: var(--secundary-bg-color);
color: #252525;
  
}
/* body */

.principal-hero {
  display: flex;
  height: 606px;
  padding: 80px;
  margin-top: 120px;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  gap: 40px;
  

}

.principal-hero img {

  width: 100%;
  height: auto;
  
}

.text-hero{
  width: 80%;
}
.text-hero h1 {
    color: #252525;
    font-family: Sora;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 76px;
}

.text-hero h2{
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-hero p{
  color: #252525;
  font-family: Sora;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;

}

.cta-btns{
  display: flex;
  justify-content: center;
  align-content: space-between;
  gap: 12px;
  transition: color 3s ease-in-out;
  padding:16px 0;
}

.cta-primary {
  display: flex;
  padding: 16px 24px;
  width: 100%;
  align-items:center;
  justify-content: center;
  color: #F5F5F5;
  border-radius: 28px;
  background: #252525;
  text-decoration: none;
}

.cta-primary:hover {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  color: #252525;
  border-radius: 28px;
  background: #fff70a;
  text-decoration: none;
  transition: 0.3s;
}


.cta-secondary {
  display: flex;
  width: 100%;
  padding: 16px 24px;
  justify-content: center;
  border-radius: 28px;
  border: 1px solid #252525;
  text-decoration: none;
  color: #252525;
}

/* Media queries */

@media (max-width: 884px) {
  .principal-hero {
    flex-direction: column;
    padding: 32px;


  }
  .text-hero {
    width: 100%;
    text-align: left;
  }
  .text-hero h1 {
    font-size: 64px;
  }
}

@media (max-width: 678px) {
  .text-hero h1 {
    font-size: 64px;
    line-height: 76px;
  
  }

  .text-hero h2{
    font-size: 20px;
    line-height: 28px;
  }

  }


/*section last works*/
.lastworks{
  display: flex;
  margin-top: 100px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 80px;
  
}

.h2 {
    width: 100%;
    font-size: 48px;
    font-style: normal;
    text-align: center;
}

p.text-lastworks {
  display: flex;
  width: 100%;
  color: #252525;
  padding: 40px 20px;
  text-align: center;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  line-height: 28px;
}

/*grid cards*/
.grid-cards{
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1 fr;
  grid-template-rows: 1fr 1fr;
  padding: 80px;
}

/*media queries cards*/
@media (max-width: 884px) {
  .grid-cards {
    padding: 20px;

  }

 }
@media (min-width: 600px) {
  .grid-cards  { grid-template-columns: repeat(2, 1fr);
  }
  
}


.card-project {
  display: flex;
  padding: 20px 24px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  background-color: #F5F5F5;
  border: #252525 1px solid;
  border-radius: 24px;
  transition: 0.3s;
  
  
}

.card-project:hover{
  background-color: #fff70a;
  box-shadow: 0px 4px 36px 0px rgba(25,25,25,0.25);
}

.img-card{
  width: 100%;
  height: 100%;
  border-radius: 14px;
}

.cta-cards{
  display: flex;
  padding: 15.5px 24px 15.5px 28px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 28px;
  border: 1px solid var(--black-50, #757575);
}

.more-projects{
  display: flex;
  justify-content: center;
  
}

.more-projects-btn {
  display: flex;
  width: 369px;
  padding: 15.5px 24px 15.5px 28px;
  align-items: center;
  justify-content: center;
  color: #F5F5F5;
  border-radius: 28px;
  background: #252525;
  text-decoration: none;
}



/*my skills*/
.my-skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(570px) 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  padding: 80px;
  margin-top: 80px;
  
}

.container-fluid-skill{
  justify-content: center;
  width: 100%;
  align-content: center;
  text-align: center;
}

.row skill{
  margin: 0;
  padding: 40px;
}

.col{
  padding: 54px;
}


/*formulario*/

.contact-me{
  font-size: 48px;
  font-weight: 500;
}

.form-control{
  margin-top: 12px;
}


/*skill*/

/* Estilos generales */
.container {
display: grid;
  margin: 0 auto;
}

.heroskill {
  text-align: center;
  gap: 20px;
  grid-template-columns: 1fr;
}

.skill-image {
  display: grid;
  max-width: 100%;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;

}

.h2-myskills{
  padding: 40px;
}

.individual-skill {
  padding: 20px;
  text-align: left;
  font-size: 16px;
}

.skill-title{
  font-size: 20px;
}

.ctas-btns-skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin-top: 20px;
  gap: 32px;
  margin: 80px;
  padding: 0 100px;
}



/* Estilos para dispositivos móviles */
/* Media query para dispositivos móviles (por ejemplo, pantallas con un ancho máximo de 600px) */
@media (max-width: 600px) {
  .skills {
      grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
  }
}

@media (max-width: 600px) {
  .ctas-btns-skills {
      grid-template-columns: 1fr;
      margin: 16px; /* Cambia a una sola columna en pantallas pequeñas */
  }
}








/*footer*/
.footer {
  display: flex;
  margin-top: 50px;
  width: 100%;
  bottom: 0;
  padding: 20px 5em;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0px -10px 230px 0px rgba(0, 0, 0, 0.10)
}

.footer-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  align-items: center;
  gap: 30px;
  flex: wrap;
  background-color: #F5F5F5;
}

.logofooter-privacy {
  display: flex;
  width: 100%;
  align-content: space-between;
  gap: 70px;
}

.logo-footer {
  display: flex;
  height: 70px;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.legals {
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  align-content: center;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.Privacy {
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  line-height: 26px;
  text-decoration: none;
  color: #252525;
}

.Terms {
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  line-height: 26px;
  text-decoration: none;
  color: #252525;
}

.line-separated {
  display: flex;
  width: 100%;
  height: 2px;
  background-color: #252525;
  stroke-width: 2px;
  opacity: 0.3;
  align-self: stretch;
}

.section-rights {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;

}

.nav-footer {
  display: flex;
  list-style-type: none;
  color: #252525;
  Text-decoration: none;
  gap: 12px;
  font-size: 16px;
  font-weight: 300;
}

a{
  text-decoration: none;
  color: #252525;
}

.rights {
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  align-items: center;
  text-align: center;
}


.container-hero{
  display: grid;
  grid-template-columns: 1fr 1fr;
  

}
.hero-box{
  width: 100%;
  margin-top: 120px;
  padding: 40px;

}

.hero-box .hero-heading{
  font-size: 64px;
line-height: 76px;


}

.hero-box .hero-subtitle{
  font-size: 36px;

}

.hero-box .hero-descript{
  display: grid;
}

.cta-btns{
  display: flex;
  justify-content: center;
  align-content: space-between;
  gap: 12px;
  transition: color 3s ease-in-out;
  padding:16px 0;
}

.foto {
  display: flex;
  width: 100%;
  height: 200px;
}

