
$color_1: #F5F5F5;
$color_2: #252525;
$font-family_1: 'Sora', sans-serif;
$font-family_2: Space Grotesk;
$font-family_3: Sora;
$background-color_1: #F5F5F5;
$background-color_2: #252525;
$background-color_3: #FFCE4F;