
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@600&family=Sora:wght@100;200;300;400;500;600;700;800&family=Space+Grotesk&display=swap');
@import 'variables';
@import 'formulario';
@import 'footer';
@import 'accordion';
@import 'skills';



* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Sora', sans-serif;
  
}

/* body */
body {
  min-height: 100vh;                       
  background: $color_1;

}

p{
  font-size: 18px;
  color: $color_2;
} 


.p-white{
  color: $color_1;
}




/* navbar */

.container-fluid {
  background-color: $color_1;
  position: fixed;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 30px;
}
  

.navbar-brand{
  background-color: $background-color_2;
  color: $color_1;
  border-radius: 50px;
  padding: 10px;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  justify-items: center;
  display: flex;
  font-family: Space Grotesk;
  
}

.navbar-brand:hover{
  background-color: $background-color_3;
  transition: 0.3s;
}
.nav-link-linkedIN{
  background-color: $background-color_2;
  border-radius: 8px;
  display: flex;
  padding: 10px 10px;
  align-items: center;
  color: $color_1;
  transition: 0.3s;

}

.nav-link-linkedIN:hover {
background-color: $background-color_3;
color: $color_2;
  
}
/* body */

.hero-principal{
  margin-top: 100px;
}

.principal-hero {
  display: flex;
  height: 606px;
  padding: 80px;
  margin-top: 120px;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  gap: 40px;
  
}



.text-hero h1 {
    color: $color_2;
    font-family: Sora;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 76px;
}

.text-hero-white{
  color: $color_1;
  font-family: Sora;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 76px;
}

.text-hero h2{
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-hero p{
  color: $color_2;
  font-family: Sora;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 30px;

}

.cta-btns{
  display: flex;
  justify-content: center;
  align-content: space-between;
  gap: 12px;
  transition: color 3s ease-in-out;
  padding:16px 0;
  margin-bottom: 20px;
}

.cta-primary {
  display: flex;
  padding: 16px 24px;
  width: 100%;
  align-items:center;
  justify-content: center;
  color: $color_1;
  border-radius: 28px;
  background: #252525;
  text-decoration: none;
  gap: 12px;
}

.cta-primary:hover {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  color: $color_2;
  border-radius: 28px;
  background: $background-color_3;
  text-decoration: none;
  transition: 0.3s;
}


.cta-secondary {
  display: flex;
  width: 100%;
  padding: 16px 24px;
  justify-content: center;
  border-radius: 28px;
  border: 1px solid $color_2;
  text-decoration: none;
  color: $color_2;
}

/* Media queries */

@media (max-width: 758px) {
  .principal-hero {
    flex-direction: column-reverse;
    padding: 32px;


  }
  .text-hero {
    width: 100%;
    text-align: left;
  }
  .text-hero h1 {
    font-size: 64px;
  }
}

@media (max-width: 678px) {
  .text-hero h1 {
    font-size: 64px;
    line-height: 76px;
  
  }

  .text-hero h2{
    font-size: 20px;
    line-height: 28px;
  }

  }


/*section last works*/
.lastworks{
  display: flex;
  margin-top: 80px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 130px;
  text-align: center;
  
}



.h2 {
    width: 100%;
    font-size: 48px;
    font-style: normal;
    text-align: center;

}

.text-lastworks {
  display: flex;
  width: 100%;
  color: $color_2;
  padding: 40px 20px;
  font-family: Sora;
  font-size: 18px;
  font-style: normal;
  line-height: 28px;
}

@media (max-width: 600px) {
  .lastworks,
  .text-lastworks{
    padding:10px;
    text-align: left;
    margin-top: 30px;
  }
}



/*grid cards*/
.grid-cards{
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1 fr;
  grid-template-rows: 1fr 1fr;
  padding: 80px;
}

/*media queries cards*/
@media (max-width: 884px) {
  .grid-cards {
    padding: 20px;

  }

 }
@media (min-width: 600px) {
  .grid-cards  { grid-template-columns: repeat(2, 1fr);
  }
  
}


.card-project {
  display: flex;
  padding: 20px 24px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  background-color: $color_1;
  border: #c9c9c9 2px solid;
  border-radius: 24px;
  transition: 0.3s;
  
  
}

.card-project:hover{
  background-color: $background-color_3;
  box-shadow: 0px 4px 36px 0px rgba(25,25,25,0.25);
  border: #252525 4px solid;
  
}

.img-card{
  width: 100%;
  height: 100%;
  border-radius: 14px;
}

.cta-cards{
  display: flex;
  padding: 15.5px 24px 15.5px 28px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 28px;
  border: 1px solid var(--black-50, $color_2);
}

.more-projects{
  display: flex;
  justify-content: center;
  
}

.more-projects-btn {
  display: flex;
  width: 369px;
  padding: 15.5px 24px 15.5px 28px;
  align-items: center;
  justify-content: center;
  color: $color_1;
  border-radius: 28px;
  background: #252525;
  text-decoration: none;
  margin: 10px;
}

.more-projects-btn:hover {
  background-color: $background-color_3;
  color: $color_2;
  border-radius: 28px;
  text-decoration: none;
  transition: 0.3s;
}



/*my skills*/
.my-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 80px;
  margin-top: 80px;
  
}

.h2-skills{
  width: 100%;
  font-size: 48px;
  font-style: normal;
  text-align: center;
  margin-top: 100px;
}

@media (max-width: 768px) {
  .my-skills {
    padding: 10px; /* Reduzco el padding en dispositivos móviles */
    margin-top: 40px; /* Reduzco el margen superior en dispositivos móviles */
  }

}




.container-fluid-skill{
  justify-content: center;
  width: 100%;
  align-content: center;
  text-align: center;
}


/*skills section*/
.hero-section-skill {
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  width: 100%;
  background-color: $background-color_3;
  margin-top: 94px;
  height: 100vh;
}

.hero-heading {
  display: flex;
  font-size: 64px;
  color: $color_2;
  font-weight: 400;
  line-height: 76px;
  align-items: center;
  padding: 80px 130px;

}

.hero-skill-img{
  max-height: 590px;
}

/* Media query para pantallas más pequeñas (dispositivos móviles) */
@media (max-width: 643px) {
  .hero-section-skill {
    padding: 50px 0;
  }

  .hero-heading {
    flex-wrap: wrap;
    font-size: 48px;
    padding: 10px;
    line-height: 58px;
}

}

.h2-myskills{
  text-align: center;
  font-size: 36px;
}



.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Espacio entre las columnas */
  margin: 130px;

}



.individual-skill {
  flex: 0 0 calc(33.33% - 20px); /* Ancho de 33.33% con un margen de 20px entre elementos */
  margin-bottom: 20px; /* Espacio entre las filas */
  padding: 20px;
  border: 1px solid $color_2;
  border-radius: 14px;
  box-sizing: border-box; /* Incluye el borde en el tamaño total */

}

/* Ajusta la grilla para dispositivos móviles */

@media (max-width: 768px) {
  .individual-skill {
    flex: 0 0 calc(50% - 20px); /* Dos elementos por fila en pantallas más pequeñas */
  }
}

@media (max-width: 600px) {
  .skills {
      margin: 20px;
  }
}

@media (max-width: 480px) {
  .individual-skill {
    flex: 0 0 100%; /* Un elemento por fila en pantallas aún más pequeñas */
  }
}

.skill-title{
  font-size: 20px;
}

.ctas-btns-skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin-top: 20px;
  gap: 32px;
  margin: 80px;
  padding: 0 100px;
}

.text-skill {
margin: 40px;
text-align: center;
}

/* Estilos para dispositivos móviles */
/* Media query para dispositivos móviles*/

@media (max-width: 600px) {
  .ctas-btns-skills {
      grid-template-columns: 1fr;
      margin: 16px;
      padding: 10px; /* Cambia a una sola columna en pantallas pequeñas */
  }

}





.container-hero{
  display: grid;
  grid-template-columns: 1fr 1fr;
  

}
.hero-box{
  width: 100%;
  margin-top: 120px;
  padding: 40px;

}

.hero-box .hero-heading{
  font-size: 64px;
line-height: 76px;


}

.hero-box .hero-subtitle{
  font-size: 36px;

}

.hero-box .hero-descript{
  display: flex;
}

.cta-btns{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  gap: 12px;
  transition: color 3s ease-in-out;
  padding:16px 0;
}

@media screen and (max-width: 752px) {

  .cta-btns{
    flex-direction: column;
  
}
 }
i {
  font-size: 24px;
}

.foto {
  display: flex;
  width: 100%;
  height: 200px;
}



/*pagina skills*/

/* Estilos comunes para todos los tamaños de pantalla */
.hero-skills {
  display: flex;
  background-color: $background-color_2;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.hero-img-skill {
  width: 50%;
  max-width: 100%;
}

.hero-text-skill {
  color: $color_1;
  padding: 40px;
  width: 50%;
  max-width: 100%;
}

.icons-skills {
  display: flex;
  gap: 10px;

}
.cta-skills{
  margin-top: 62px;
}
.skills-downloads {
  width: 100%;
  margin-top: 100px;
  padding: 16px 24px;
  justify-content: center;
  border-radius: 28px;
  text-decoration: none;
  background-color: $color_1;
  color: #252525;
}

.skills-downloads:hover {
  background-color: $background-color_3;
  transition: 0.3s;
}

/* Estilos para dispositivos con una pantalla de ancho máximo de 600px */
@media screen and (max-width: 752px) {
  .hero-skills {
    flex-direction: column;
  }
.icons-skills{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  
  }

  .text-hero-white {
    color: $color_1;
    font-family: Sora;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}
  
}


  
  .hero-img-skill,
  .hero-text-skill {
    width: 100%;
    max-width: 100%;
    
  }




/*hero contact*/

.hero-contact{
  display: flex;
  flex-wrap: wrap;
  background-color: $background-color_2;
  margin-top: 94px;

  

}

.hero-text-contact{
  display: flex;
  flex-wrap: wrap;
  margin: 180px;
  
}

@media screen and (max-width: 752px) {
.hero-text-contact{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  
}

 }
